{% extends "learning_logs/base.html" %}

{% block page_header %}
    <h1>Topics</h1>
{% endblock page_header %}

{% block content %}
<ul>
    {% for topic in topics %}
        <h3>
            <a class="navbar-brand" href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
        </h3>
    {% empty %}
        <li class="navbar-brand">No topics have been added yet.</li>
    {% endfor %}
</ul>
<h3><a class="navbar-brand" href="{% url 'learning_logs:new_topic' %}">Add a new topic</a></h3>

{% endblock content %}